.error__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.error__alert {
    font-size: 20px;
    text-align: center;
    color: var(--color-white);
}
