:root {
	--color-dark: #222222;
	--color-light: #f8f9fa;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-blue: #3199dc;

	--spacing-small: 10px;
	--spacing-medium: 15px;
	--spacing-large: 20px;

	--box-shadow: 0 2px 24px rgba(168, 175, 196, 0.5);
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
	scrollbar-color: var(--color-blue) var(--color-dark);
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: var(--color-blue);
	border-radius: 2px;
}
::-webkit-scrollbar-track {
	background-color: var(--color-dark);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-dark);
	font-size: 16px;
	line-height: 1.7;
	font-family: Arial, sans-serif;
}

:global(.img-contain) {
    display: block;
    object-fit: contain;
	object-position: center;
}
:global(.img-cover) {
    display: block;
    object-fit: contain;
    object-position: center;
}
:global(.bg-contain) {
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center center;
}
:global(.btn) {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
