.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);
}
.characters__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 80%;
    height: 600px;
    margin: auto;
    padding: var(--spacing-large);
    overflow: auto;
    background-color: var(--color-light);
}
.characters__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 250px;
    margin: var(--spacing-medium);
    border: 4px solid var(--color-white);
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
}
.characters__img {
    width: 100%;
}
.characters__name {
    padding: var(--spacing-small);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.characters__close {
    position: absolute;
    top: var(--spacing-large);
    right: var(--spacing-large);
    width: 35px;
    height: 35px;
}
